<?xml version="1.0"?>
<launch>
	<arg name="robot" default="$(arg robot)"/>
    <!-- Load collision objects into the planning scene -->
  	<node name="world_to_planning_scene" pkg="abb_wrapper_control" type="world_to_planning_scene_node" args="$(find abb_wrapper_control)/worlds/$(arg robot).world --skipIfco" output="screen"/>
</launch>

