<?xml version="1.0"?>
<launch>

    <arg name="robot" default="gofa" /> <!-- Possibilities: 'gofa' or 'yumi'-->
    <arg name="simulation" default="false" /> <!-- Possibilities: 'true' or 'false'-->
    <arg name="controllers" default="VelocityControllers_JointTrajectoryController"
        doc="Controllers that are activated by default." />
    <arg name="stopped_controllers" default="VelocityControllers_JointGroupVelocityController"
        doc="Controllers that are initally loaded, but not started." />

    <include file="$(find drims_dice_demo)/launch/real_robot.interal.launch">
        <!-- <arg name="robot" value="$(arg robot)"/> -->
        <arg name="robot" value="$(eval arg('robot')+'_single_arm' if arg('robot')=='yumi' else arg('robot'))"/>
        <arg name="simulation" value="$(arg simulation)"/>
        <arg name="controllers" value="$(arg controllers)"/>
        <arg name="stopped_controllers" value="$(arg stopped_controllers)"/>
    </include>

</launch>