<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">

    <!-- Parameters -->
    <xacro:arg name="prefix" default="" />
    <xacro:arg name="robot" default="gofa" />
    <xacro:arg name="hardware_interface" default="hardware_interface/PositionJointInterface" />
    <xacro:arg name="gripper_interface" default="hardware_interface/EffortJointInterface" />

    <!-- <xacro:arg name="gripper_interface" default="hardware_interface/PositionJointInterface" /> -->

    <xacro:property name="robot" value="$(arg robot)" />
    <xacro:property name="hardware_interface" value="$(arg hardware_interface)" />
    <xacro:property name="gripper_interface" value="$(arg gripper_interface)" />

    <!-- Robot -->
    <!-- Import Rviz colors -->
    <xacro:include filename="$(find omnicore_description)/Util/materials.xacro" />
    <!-- Import utilities -->
    <xacro:include filename="$(find omnicore_description)/Util/utilities.xacro" />
    <!-- Import the table -->
    <xacro:include filename="$(find drims_dice_demo)/xacro/Extra/table.xacro" />
    <!-- Import the table -->
    <xacro:include filename="$(find drims_dice_demo)/xacro/Extra/camera_stand.xacro" />
    <!-- Import the surface -->
    <xacro:include filename="$(find drims_dice_demo)/xacro/Extra/surface.xacro" />

    <!-- YUMI SINGLE ARM MACRO    -->
    <xacro:include filename="$(find omnicore_description)/xacro/YumiSingleArm/single_yumi.xacro" />
    <!--Import
    the yumi servo gripper macro -->
    <xacro:include
        filename="$(find omnicore_description)/Grippers/YumiServoGripper/yumi_servo_gripper.xacro" />

    <!-- GOFA MACRO -->
    <xacro:include filename="$(find omnicore_description)/xacro/Gofa/gofa.urdf.xacro" />

    <!-- Import the Schunk gripper macro -->
    <xacro:include filename="$(find schunk_gazebo)/urdf/gazebo_complete.xacro" />

    <!-- World fixed joint -->
    <link name="world" />
    <!-- Include Table -->
    <xacro:table parent="world">
        <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:table>

    <!-- Choose between gofa and yumi_single_arm -->

    <xacro:if value="${robot == 'yumi'}">
        <!-- Include surface -->
        <xacro:surface parent="${robot}_base_link">
            <origin xyz="-0.03 -0.40 0.1" rpy="0 0 0" />
        </xacro:surface>

        <!-- Include camera stand -->
        <xacro:camera_stand parent="base_link_surface">
            <origin xyz="0.325 0.0 0.0" rpy="0 0 ${-PI / 2.0}" />
        </xacro:camera_stand>

        <xacro:single_yumi parent="base_link_table" child="${robot}_base_link"
            hardware_interface="${hardware_interface}">
            <origin xyz="-0.6 0 0.6" rpy="0 0 1.57" />
        </xacro:single_yumi>

        <!-- Smart Gripper -->
        <xacro:yumi_servo_gripper name="gripper" parent="link_7"
            hardware_interface="${gripper_interface}">
            <origin xyz="0 0 0.007" rpy="0 0 ${PI}" />
        </xacro:yumi_servo_gripper>
    </xacro:if>

    <xacro:if value="${robot == 'gofa'}">

        <!-- Include surface -->
        <xacro:surface parent="${robot}_base_link">
            <origin xyz="-0.03 -0.50 0.1" rpy="0 0 0" />
        </xacro:surface>

        <!-- Include camera stand -->
        <xacro:camera_stand parent="base_link_surface">
            <origin xyz="0.325 0.0 0.0" rpy="0 0 ${-PI / 2.0}" />
        </xacro:camera_stand>

        <xacro:gofa parent="base_link_table" child="${robot}_base_link"
            hardware_interface="${hardware_interface}">
            <origin xyz="-0.6 0 0.627" rpy="0 0 1.57" />
        </xacro:gofa>

        <xacro:egk_40_gazebo
            prefix="$(arg prefix)"
            parent="flange"
            px="0.0" py="0.0" pz="0.011"
            rx="${pi / 2.0}" ry="0.0" rz="${pi / 6.0}"
            hardware_interface="$(arg gripper_interface)" />
    </xacro:if>

    <gazebo>
        <plugin name="ros_control" filename="libgazebo_ros_control.so">
        </plugin>
    </gazebo>

</robot>